.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 85vh;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    svg {
        color: var(--detalhe);
        font-size: 48px; // Tamanho do spinner
        animation: animate 2s infinite linear;
    }

    &:hover {
        filter: brightness(1.10);
    }
}

@keyframes animate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.square {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vh;
    width: 90%;
    height: 100%;
    border-radius: 1rem;
    border-width: 1px;
    border-radius: 2rem;
    border-style: double;
    border-color: var(--fonteDark);
    background-color: transparent;
    border-radius: 1rem;
    position: relative;
}

.headerBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title {
    margin: 2rem;
}

.horizontalLine {
    border-top: 0.8px solid var(--fonteDark);
    width: 90%;
    margin-bottom: 1rem;
}

.link {
    text-decoration: none;
    color: var(--fonteDark);
}

.exit {
    width: 40px;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

.body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.updateInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 10vh;
}

.input {
    border-color: var(--fundoSec);
    max-width: 500px;
}

.input::placeholder {
    color: var(--fonte);
}

.pixKey {
    
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 75%;
    max-width: 500px;
}

.styleDropdownToggle {
    height: 50px !important;
    font-size: 1rem!important;
}

.styledropdownMenu {
    font-size: 1rem!important;
}

.line {
    background-color: black;
    height: 80%;
    width: 1px;
}

.updatePwd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 10vh;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.button {
    width: 37.5%;
    margin: 2rem;
    max-width: 500px;
}

@media (max-width: 740px) {
    .header {
        display: none;
    }

    .mainDiv {
        width: 100%;
        height: 100vh;
    }

    .square {
        width: 100%;
        height: 100%;
        background-color: var(--fundo);
        border-style: none;
    }

    .horizontalLine {
        border-top: 0.8px solid var(--fundoSec);
    }

    .body {
        flex-direction: column;
        justify-content: space-around;
    }

    .updateInfo {
        width: 100%;
        gap: 5vh;
    }

    .input {
        border-color: var(--fundoSec);
        max-width: 500px;
        margin: 0rem;
    }

    .input::placeholder {
        color: var(--fonte);
    }

    .line {
        border-top: 0.8px solid var(--fundoSec);
        width: 80%;
        height: 1px;
        margin: 2rem 0 2rem 0;
    }

    .updatePwd {
        width: 100%;
        gap: 5vh;
    }

    .footer {
        justify-content: center;
    }

    .button {
        width: 75%;
        margin: 2rem 0 2rem 0;
        max-width: 500px;
    }
}

@media (min-width: 740px) and (max-height: 900px) {
    .mainDiv {
        height: 75vh;
    }

    .title {
        margin: 1.5rem;
    }

    .body {
        height: 60%;
    }

    .updateInfo {
        gap: 5vh;
    }

    .updatePwd {
        gap: 5vh;
    }

    .button {
        margin: 1rem;
    }
}

@media (max-width: 350px) or (max-height: 650px) {
    .title {
        font-size: 1.2rem;
        margin: 2rem 0 2rem 0;
    }

    .exit {
        width: 30px;
        right: 1rem;
    }
}