.containerCenter{
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5%;
    background-color: var(--clara);
  }

.login{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 1.5rem;

    h1{
        color: var(--fonteDark);
        padding-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a{
        font-weight: bold;
        padding-top: 10%;
        padding-bottom: 3%;
    }
}

.form{
    width: 90%;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

    .linha{
        border: none; 
        height: 0.8px; 
        background-color: var(--detalhe); 
        margin-top: 8%;
    }
}

@media(max-width: 720px){
    .login{
        width: 90%;
    }

    .Photo {
        display: none; 
  }
}

.buttonAnonimo{
    font-weight: bold;
    width: 75%;
    height: 50px;
    background-color: var(--detalhe);
    border: 0;
    padding: 0.4rem;
    color: var(--clara);
    border-radius: 0.8rem;
}

.touchableOpacity{
    color: var(--fonteDark);
    background-color: transparent;
    border: none;
    margin: 0 2.8rem; 
    display: inline-block; 
    margin-top: 8%;
    opacity: 0.7;
    transition: all 0.5s;
}

.touchableOpacity:hover{
    opacity: 1;
    transform: scale(1.2);
}

.mainDiv{
    display: flex;
    height: 100vh;
}

.Photo{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}