.button{
    width: 75%;
    height: 50px;
    background-color: var(--detalhe);
    border: 0;
    padding: 0.4rem;
    color: var(--clara);
    border-radius: 2rem;
    transition: filter 0.2s;

    //Loading true ? Acessa essa animação do spinner
    &[disabled]{
        cursor: not-allowed;
        svg{
            animation: animate 2s infinite;
        }
    }

    &:hover{
        filter: brightness(1.10)
    }
}

.buttonText{
    color: var(--clara);
    font-weight: bold;
}

//Fazer animação da bolinha de login de girar 360 graus
@keyframes animate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}