.card {
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    border-width: 1px;
    border-radius: 2rem;
    border-style: double;
    border-color: var(--fonteDark);
    background-color: transparent;
    width: 550px;
}

.image {
    border-radius: 2rem;
    position: relative;
    width: 200px;
    height: 195px;

    display: flex;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
    }
}

.cardDetails {
    padding: 1rem;
    width: 350px;

    h2 {
        font-size: 1.5rem;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    p {
        height: 68px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        line-height: 1.5rem;
        text-align: justify;
    }
}

@media (max-width: 600px) {
    .card {
        width: 90%;
    }

    .image {
        width: 40%;
    }

    .cardDetails {
        width: 60%;
    }
}