.input {
    margin-bottom: 2rem; //16 px
    height: 50px;
    border-width: 1px;
    border-radius: 2rem;
    border-style: double;
    border-color: var(--fundoSec);
    background-color: transparent;
    padding: 1.2rem;
    width: 75%;
}

.input::placeholder {
    color: #666766;
}

@media (max-width: 600px) {
    .input {
        margin-bottom: 1.5rem;
    }
}

@media (max-height: 1000px) {
    .input {
        margin-bottom: 1rem;
    }
}